* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px dotted black;
}

#cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.user-card {
  border-top: 3px solid #a87ca0;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 15px;
}

.card_title {
  color: rgb(16, 137, 199);
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.card_description {
  color: #000;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}

.card_description > span {
  color: rgb(16, 137, 199);
  text-transform: capitalize;
}
.card_category {
  color: #000;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
}
.card_tags {
  margin-top: auto;
}
.card_tags > p {
  color: #000;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 10px;
}

img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #cards_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  #cards_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
